check {
    margin: 50px;

}

.formGroup {
    padding: 10px;
   
}

.check button {
    padding: 10px;
    background-color: rgb(145, 175, 145);
    border-radius: 10px;
    border: none;


}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}

.form{
    margin: 10px 30px 10px 30px;
}