.detailCard{
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    /* margin: 90px; */
    /* background: #928c8c; */
  }

.left{
    background: #dde3e6;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 30px;
    border-radius: 30px;
}

details{
    display: flex;
    flex-direction: row;
}

btn{
    border: none;
}