.thanks {
    /* animation: anim-ss steps(0) 1s infinite; */
    /* color: white; */
    /* display: flex; */
    /* flex-direction: row-reverse; */
    justify-content: right;
   
}

.thanks img {
    /* display: flex; */
    /* flex-direction: row-reverse; */
    justify-content: right;

    /* flex-wrap: wrap; */
    /* align-items:; */
}

button{
    display: flex;
    flex-direction: column;
    align-items: center;
}